*{
    margin: 0;
    
}

/* navbar style code all page */
nav{
    padding: 16px;
    background: #cfcccc;
    .main-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 40px;
        .logo-web{
            display: flex;
            align-items: center;
            gap: 14px;
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }
        .navbar-page{
            display: flex;
            gap: 32px;
            li{
                list-style: none;
                a{
                    position: relative;
                    text-decoration: none;
                    color: black;
                    font-size: 3.5vh;
                    padding-bottom: 5px;
    
                }
                a:hover::after{
                    width: 100%;
                    transition: 0.5s;
                }
                a:hover{
                    transition: 0.5s;
                    color: #948f8f;

                }
                a::after{
                    content:'';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    display: block;
                    margin: auto;
                    left: 0;
                    bottom: 0;
                    background: #ff0000;
                    transition: width 0.3 ease-in-out;
                }

    
            }
        }
    }
}