<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather-page</title>
    <link rel="stylesheet" href="/CSS/map.css">
</head>
<body>
    <nav>
        <div class="main-navbar">
            <div class="logo-web">
                <img src="/images/logo-weather.png" alt="">
                <div class="group-text-navbar">
                    <h2>PNC WETHER</h2>
                    <p>Passerelles numeriques</p>
                </div>
            </div>
            <div class="navbar-page">
                <li><a href="./weather.html">Weather</a></li>
                <li><a href="./map.html">Map</a></li>
                <li><a href="./contactUs.html">Contact us</a></li>
            </div>
        </div>
    </nav>
</body>
</html>