<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="/images/logo-weather.png">

  <title>Frontend Mentor | Weather app</title>
  <link rel="stylesheet" href="/CSS/weather.css">
  <script src="/JS/weather.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <a href="#main" class="visually-hidden skip-link">Skip to main content</a>

  <header class="header wrapper">
    <div class="header__content">

      <!-- Logo -->
      <a class="header__homelink" href="/Templates/weather.html">
        <img class="header__logo" src="/images/logo-weather.png" alt="Weather Now Home">
      </a>

      <!-- Desktop Navigation -->
      <nav class="nav">
        <a href="/Templates/map.html" class="nav__link"><i class="fa-regular fa-map"></i> Map</a>
        <a href="#" class="nav__link active"><i class="fa-solid fa-cloud"></i> Weather</a>
        <a href="/Templates/contactUs.html" class="nav__link"><i class="fa-solid fa-phone"></i> Contact Us</a>
      </nav>

      <!-- Right Actions -->
      <div class="header__actions">
        <select class="dropdown header__dropdown" name="units" id="ddlUnits">
          <option value="">Units</option>
          <option value="C">°C</option>
          <option value="F">°F</option>
        </select>

        <a href="/index.html"><button class="login-btn">Log In</button></a>

        <!-- Mobile Menu Button -->
        <button class="menu-btn" id="menuBtn">☰</button>
      </div>

    </div>

    <!-- Mobile Dropdown -->
    <div class="mobile-menu" id="mobileMenu">
      <a href="/Templates/map.html">Map</a>
      <a href="#" class="active">Weather</a>
      <a href="/Templates/contactUs.html">Contact Us</a>
    </div>
  </header>


  <main id="main" class="main wrapper">

    <section class="hero">
      <div class="hero__content">
        <h1 class="hero__title">How's the sky looking today?</h1>

        <div class="hero__search">
          <input class="hero__textbox" type="text" name="search" id="txtSearch" placeholder="Search for a place...">
          <button id="btnSearch" class="hero__button" type="submit">Search</button>
        </div>
      </div>

    </section>

    <div class="dashboard">
      <section class="current">
        <h2 class="visually-hidden">Current Location Temperature</h2>

        <div class="current__weather">
          <div class="current__location">
            <div id="dvCityCountry" class="current__city">Berlin, Germany</div>
            <div id="dvCurrDate" class="current__date">Tuesday, Aug 5, 2025</div>
          </div>
          <div class="current__info">
            <img class="current__icon" src="/images/weather-image/icon-sunny.webp" alt="" width="320" height="320">
            <div class="current__temp"><span id="dvCurrTemp">20</span>&deg;</div>
          </div>
        </div>

        <div class="current__conditions">
          <div class="block current__condition">
            <p class="current__condition-title">Feels Like</p>
            <p class="current__condition-value"><span id="pFeelsLike"></span>&deg;</p>
          </div>
          <div class="block current__condition">
            <p class="current__condition-title">Humidity</p>
            <p class="current__condition-value"><span id="pHumidity"></span>%</p>
          </div>
          <div class="block current__condition">
            <p class="current__condition-title">Wind</p>
            <p id="pWind" class="current__condition-value"></p>
          </div>
          <div class="block current__condition">
            <p class="current__condition-title">Precipitation</p>
            <p id="pPrecipitation" class="current__condition-value"></p>
          </div>
        </div>

      </section>

      <section class="daily">
        <h2 class="section__title daily__title">Daily forecast</h2>
        <div class="daily__forecast">
          <div id="dvForecastDay1" class="block daily__day"></div>
          <div id="dvForecastDay2" class="block daily__day"></div>
          <div id="dvForecastDay3" class="block daily__day"></div>
          <div id="dvForecastDay4" class="block daily__day"></div>
          <div id="dvForecastDay5" class="block daily__day"></div>
          <div id="dvForecastDay6" class="block daily__day"></div>
          <div id="dvForecastDay7" class="block daily__day"></div>
        </div>
      </section>

      <section class="hourly">

        <div class="hourly__content">
          <div class="hourly__header">
            <h2 class="section__title hourly__title">Hourly forecast</h2>
            <select class="dropdown hourly__select" name="hourly__select" id="ddlDay"></select>
          </div>

          <div class="hourly__hours">
            <div id="dvForecastHour1" class="hourly__hour"></div>
            <div id="dvForecastHour2" class="hourly__hour"></div>
            <div id="dvForecastHour3" class="hourly__hour"></div>
            <div id="dvForecastHour4" class="hourly__hour"></div>
            <div id="dvForecastHour5" class="hourly__hour"></div>
            <div id="dvForecastHour6" class="hourly__hour"></div>
            <div id="dvForecastHour7" class="hourly__hour"></div>
            <div id="dvForecastHour8" class="hourly__hour"></div>
            <div id="dvForecastHour9" class="hourly__hour"></div>
            <div id="dvForecastHour10" class="hourly__hour"></div>
            <div id="dvForecastHour11" class="hourly__hour"></div>
            <div id="dvForecastHour12" class="hourly__hour"></div>
            <div id="dvForecastHour13" class="hourly__hour"></div>
            <div id="dvForecastHour14" class="hourly__hour"></div>
            <div id="dvForecastHour15" class="hourly__hour"></div>
            <div id="dvForecastHour16" class="hourly__hour"></div>
            <div id="dvForecastHour17" class="hourly__hour"></div>
            <div id="dvForecastHour18" class="hourly__hour"></div>
            <div id="dvForecastHour19" class="hourly__hour"></div>
            <div id="dvForecastHour20" class="hourly__hour"></div>
            <div id="dvForecastHour21" class="hourly__hour"></div>
            <div id="dvForecastHour22" class="hourly__hour"></div>
            <div id="dvForecastHour23" class="hourly__hour"></div>
            <div id="dvForecastHour24" class="hourly__hour"></div>
          </div>
        </div>


      </section>
    </div>


  </main>
<footer class="footer__content">
  <div class="footer__left">
    <p>@2026 Weather. All rights reserved by SISRSO</p>
  </div>
  <div class="footer__right">
    <a href="#">Privacy Policy</a>
    <span>||</span>
    <a href="#">Map</a>
    <span>||</span>
    <a href="#">Weather</a>
    <span>||</span>
    <a href="#">Contact us</a>

  </div>
</footer>

</body>

</html>